/* Scss Document */
$blue: #374c91;
$white: #fff;
$mainfont:'Ubuntu', sans-serif;
$prim-color: #212121;

img {
	max-width: 100%;
}
h1{
	color: $white;
	font-size: 42px;
}
h2{
	font-size: 40px;
	font-family: $mainfont;
	color: $blue;
	text-transform: uppercase;
}
h3{
	font-size: 23px;
	color: #3c3c3c;
	font-family: $mainfont;

}
a{
	color: #fff;
}
a:hover{
	color: #fff;
}

body{
	font-family: $mainfont;
	color: $prim-color;
}
header{
	background: url(img/bg-head.png) no-repeat scroll top;
	background-size: cover;
}

.btn-default{
	background: $blue;
	border: none;
	border-radius: 0;
	color: $white;
}
.bg-main-menu {
	position: absolute;
	top: 0;
	z-index: 11;
	background-color: rgb(255, 255, 255);
	opacity: 0.302;
	width: 100%;
	height: 50px;

}
.navbar-default {
	position: relative;
	top:0;
	z-index: 100;
	width: 100%;
	background: none;
	border: none;
}
.navbar-brand {
	font-size: 26px;
}
.blue-text {
	color: $blue;
	text-decoration: none;
}
.white-text {
	color: $white;
	text-decoration: none;
}
.navbar-default .navbar-nav li a {
	font: $mainfont;
	font-size: 18px;
	color: $white;
}
.navbar-default .navbar-nav li a img{
	margin-left: 5px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: $white;
	text-decoration: underline;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	color: $white;
}
.dropdown-menu,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background: url(img/bg-dropdown.png) repeat scroll top; 
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus {
	background: none;
	text-decoration: underline;
}
.navbar-default .navbar-text {
	color: $white;
	font-size: 16px;
	float: right;
}
.head-menu {
	padding-left: 60px;
}
.bloc-serch {
	padding: 150px 0 230px;
	text-align: center;
	p{
		font-size: 22px;
		color: $white;
		padding-bottom: 30px;
	}
	.search {
		height: 55px;
		.btn-default{
			margin-top: -4px;
			font-size: 24px;
			width: 250px;
			height: 100%;
		}
	}
	.inp-search{
		width: 525px;
		height: 100%;
		margin-right: -4px;
		background: url(img/search-icon.png) no-repeat scroll left #fff;
		background-position-x: 3%;
		border:none;
		padding-left: 50px;
	}
}
.down {
	text-align: center;
	font-size: 24px;
	padding-bottom: 38px;
	margin-top: -10px;
	.callme{
		background: $blue;
		border: none;
		color: $white;
		float: right;
		margin-top: -20px;
		margin-right: 40px;
	}
	.btn-down{
		color: #fff;
		
		
	}
}
.modal-dialog{
	width: 308px;
	
}
.modal-content{
	background-color: rgba(0, 0, 0,.8);
	border-radius: 0;
	.modal-body{
		color: $white;
		text-align: center;
		padding: 30px;
		h4{
			padding-bottom: 20px;
			font-size: 22px;
			
		}
		.close{
			opacity: 1;
			margin-top: -8px;
		}
		.btn-default{
			margin-top: 27px;
			width: 255px;
			height: 55px;
			font-size: 20px;
		}
		.inp-box{
			width: 100%;
			padding: 13px 5px;
			.callme-inf{
				background: none;
				border: none;
				border-bottom: 1px solid #5e5e5e;
				float: none;
				margin: 0 auto;
				width: 100%;
			}
			
		}
		
	}
	
}



.recent-projects{
	text-align: center;
	padding: 70px 0 45px;
	hr{
	width: 76px;
	border-top: 6px solid $blue;
	}
	p{
		font-size: 18px;
		max-width: 455px;
		float: none;
		margin: 0 auto;
	}
	
}

.wrap-l{
	float: right;
	padding-right: 60px;
	.img{
		padding-right: 45px;
	}
}
.wrap-r{
	padding-left: 65px;
	
	.img{
		display: inline-block;
		float: left;
	}
	.txt-bloc{
		display: inline-block;
		float: left;
		padding-left: 75px;
	}
	
}

.member {
	background: #dbd7e5;
}
.project{
	background: #b6cbd9;
}
.find{
	padding: 0;
}

.img {
	float: left;
	padding-top: 80px;
		
}
.txt-bloc {
	max-width: 400px;
	float: right;
	padding: 40px 0 25px;
	p{
		padding: 25px 0 0;
		max-width: 300px;
		height: 130px;
		font-size: 17px;
		color: #3c3c3c;
	}
}

.bg-1{
	background: url(img/img1.png) no-repeat scroll top;
}
.bg-2{
	background: url(img/img2.png) no-repeat scroll top;
}
.bg-3{
	background: url(img/img3.png) no-repeat scroll top;
}
.bg-4{
	background: url(img/img4.png) no-repeat scroll top;
}
.img-info{
	padding: 0;
	
}
.bloc-img:hover .hover-info{
	opacity: 1;
}
.bloc-img{
	padding: 20px;
	background-size: cover;
}
.hover-info{
	padding: 20px 30px 25px;
	background: rgba(0,0,0,.8);
	color: $white;
	overflow: hidden;
	opacity: 0;
	
	h4{
		text-align: center;
		text-transform: uppercase;
	}
	hr{
		width: 35px;
		border-top: 4px solid $white;
	}
	p{
		padding-top: 5px;
	}
}




footer{
	background: #1c1c1c;
	text-align: center;
	color: #8d8d8d;
	.copyright {
		padding: 25px 0;
		p{
			margin: 0;
		}
	}
}


@media (max-width: 980px) and (min-width: 768px){
	.navbar-brand{
		font-size: 19px;
	}
	.navbar-default .navbar-nav li a{
		font-size: 16px;
		padding: 15px 5px;
	}
	.head-menu{
		padding-left: 0;
	}
	.navbar-default .navbar-text{
		font-size: 16px;
	}
	.bloc-serch{
		padding: 100px 0 150px;
		.search{
			width: 100%;
			.inp-search{
				width:70%; 
			}
			.btn-default{
				width: 30%;
			}
		}
		
		
	}
}
@media 	(max-width: 767px){
	.navbar-text{
		margin-top: -35px;
		margin-bottom: 0;
	}
	.head-menu{
		text-align: center;
		padding: 0;
	}
	.navbar-nav .open .dropdown-menu{
		text-align: center;	
	}
	.bloc-serch{
		padding: 100px 0 150px;
		.search{
			width: 100%;
			.inp-search{
				width:70%; 
			}
			.btn-default{
				width: 30%;
			}
		}
		
		
	}
}
	
	
	
	
	